
apiVersion: apps/v1
kind: Deployment
metadata:
  name: loadlab
  namespace: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loadlab
  template:
    metadata:
      labels:
        app: loadlab
    spec:
      containers:
        - name: loadlab
          image: loadlab:phase1.5
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3001
          resources:
            limits:
              cpu: 200m
            requests:
              cpu: 100m
          livenessProbe:
            httpGet:
              path: /health
              port: 3001
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /ready
              port: 3001
            initialDelaySeconds: 10
            periodSeconds: 5

